*{
	margin : 0px;
	padding : 0px;	
	color: white;
	transition: all 1s;
}
*:hover{
	color: yellow;
	transition: all 1.5s;
}
html,body{
	height : 100vh;
	width : 100vw;
	user-select : none;

}

/*----------Navigation Bar Start----------*/
#nav{
	text-align: center;
	width: 100vw;
	position: fixed;
	padding: 2vh;
	z-index: 1;
}
#nav a{
	font-family: 'Kelly Slab', cursive;
	font-size: 1.5em;
	font-weight: 800;
	margin: 2%;
	display: inline;
	letter-spacing: 2px;
}

#nav1{
	border-bottom: 1px solid yellow;
	text-decoration: none;
	opacity: 1;
	color: white;
}
#nav a:hover{
	letter-spacing: 8px;
	transition-duration: 0.8s;
	color: white;
	opacity: 1;
}
#nav2{
	text-decoration: none;
	opacity: 0.5;
	color: white;
}

#nav3{
	text-decoration: none;
	opacity: 0.5;
	color: white;
}
/*---------------------------------------------------------*/

#about{
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding-top : 25vh;
	background-color: #202124;
}
#box1{
	position: relative;
	z-index: 0;
}
#img2{
	position: absolute;
	z-index: 1;
	opacity: 0;
	float: left;
	margin-left: 15vw;
	margin-top: 5vh;
	height: 175px;
	width: 175px;
	border-top: 6px #4285F4 solid;
	border-left:6px #EA4335 solid;
	border-right: 6px #34A853 solid;
	border-bottom: 6px #FBBC05 solid;
	border-radius: 50%;
}
#img1{
	display: block;
	position: absolute;
	float: left;
	margin-left: 15vw;
	margin-top: 5vh;
	height: 175px;
	width: 175px;
	border-top: 6px #4285F4 solid;
	border-left:6px #EA4335 solid;
	border-right: 6px #34A853 solid;
	border-bottom: 6px #FBBC05 solid;
	/*border: 6px #202124 solid;*/
	border-radius: 50%;

}

#box1:hover #img2{
	opacity: 1;
	border-top: 6px #EA4335 solid;
	border-left:6px #FBBC05 solid;
	border-right: 6px #4285F4 solid;
	border-bottom: 6px #34A853 solid;


}

#hi {
	font-family: 'Expletus Sans', cursive;
	padding-left: 40vw;
	font-size: 1em;
}
#name{
	font-family: 'Kaushan Script', cursive;
	font-size: 3.5em;
	transform: rotate(-8deg);
	margin-left: 39vw;
	margin-right: 10vw;
	letter-spacing: 2px;	
	padding-bottom: 4vh;
	margin-top: -30px;
}
#name:hover{
	color: gold;
}

#bio{
	font-family: 'Expletus Sans', cursive;
	font-size: 1.2em;
	text-align : justify;
	padding-left : 40vw;
	padding-right : 10vw;
}
/*-----------------------------------------------------------*/
#res{
	margin-left: 18vw;
	margin-top: 20vh; 
}
#res a{
	font-family: 'Kelly Slab', cursive;
	font-size: 1em;
	text-decoration : none;
	color : white;
	background-color: #202124;
	box-shadow: -5px 6px 8px white;
	border: 2px solid white;
	padding: 8px;
}
#res a:hover{
	background-color: white;
	box-shadow: 0px 0px 0px rgba(255,255,0,0.5);
	color: #202124;
	padding: 8px;
}

#mess{
	font-size: 1em;
	margin-left: 75vw;
	margin-top: -10vh;
	padding-bottom: 2vh; 
	font-family: 'Kelly Slab', cursive;
}

.icon{
	font-size: 2.5em;
	display: inline-block;
	padding-left: 10px;	
}

#contact{
	margin-left: 65vw; 
}
.fab, .far{
	transition: all 1s;
}
.fa-envelope:hover{
	color: #D54B3D;
	transition-duration: 0.8s;
}

.fa-github:hover{
	color: #797983;
	transition-duration: 0.8s;
}
.fa-codepen:hover{
	color: #000000;
	transition-duration: 0.8s;
}
.fa-linkedin:hover{
	color: #0077B5;
	transition-duration: 0.8s;
}
.fa-twitter:hover{
	color: #00ACED;
	transition-duration: 0.8s;
}
.fa-telegram:hover{
	color: #33ABDF;
	transition-duration: 0.8s;
}
.fa-facebook-square:hover{
	color: #4867AA;
	transition-duration: 0.8s;
}
.fa-google-plus:hover{
	color: #DC5043;
	transition-duration: 0.8s;
}

/*----------------------------------------------------------*/
@media only	screen and (max-width: 1025px){
	#about{
		padding-top: 10vh;
	}
	#res{
		margin-top: 10vh;
	}
	#contact{
		margin-left: 55vw; 
		margin-top: -1vh;
	}
	#mess{
		margin-left: 65vw;
		margin-top: -5vh;
	}
}
/*-----------------------------------------------------------*/

/*----------------------------------------------------------*/
@media only	screen and (max-width: 850px){
	#about{
		overflow: auto;
	}
	#res{
		margin-left: 20vw;
	}
	#contact{
		margin-left: 50vw; 
	}
	#mess{
		margin-left: 50vw;
	}
	
}
/*-----------------------------------------------------------*/
/*----------------------------------------------------------*/
@media only	screen and (max-width: 800px){
	#nav{
		background-color: rgba(255,255,255,0.8);
	}
	#nav a{
		color: #202124;
	}
	#nav a:hover{
		color: #202124;
	}

	#about{
		overflow: auto;
		padding-top: 18vh;
	}
	#name{
		margin-top: 1vh;
	}
	#img1{
		margin-left: 5vw;
	}
	#img2{
		display: none;
	}
	#res{
		margin-left: 45vw;
	}
	#mess{
		margin-left: 45vw;
		margin-top: 10vh;
	}
	#contact{
		margin-left: 25vw;
	}
	
}
/*-----------------------------------------------------------*/
/*----------------------------------------------------------*/
@media only	screen and (max-width: 720px){
	#about{
		padding-top: 15vh;
	}
	#hi{
		margin-left: -25vw;
	}
	#img1{
		display: none;
	}
	#name{
		margin-left: 15vw;
	}
	#bio{
		margin-left: -25vw;
	}
	#res{
		margin-left: 43vw;
	}
	#mess{
		margin-left: 45vw;
	}
	#contact{
		margin-left: 25vw; 
	}	
}

/*----------------------------------------------------------*/
@media only	screen and (max-width: 420px){
	html,body{
		overflow: scroll;
	}
	#about{
		padding-top: 15vh;
	}
	#img1{
		display: none;
	}
	#hi{
		padding-left: 10vw;
	}
	#name{
		margin-left: 10vw;
		font-size: 2.8em;
	}
	#bio{
		padding-left: 10vw;
		padding-top: 1vh;
	}
	#res{
		margin-left: 40vw;
		margin-top: 5vh;
	}
	#mess{
		margin-left: 40vw;
		margin-top: 5vh;
	}
	#contact{
		margin-left: 5vw; 
		font-size: 0.8em;
		margin-bottom: 3vh;
	}	
}

/*@media only	screen and (max-height: 850px){
	html,body{
		overflow: scroll;
	}
	#contact{
		margin-bottom: 30vh;
		margin-left: 15vw;
	}
}*/
/*-----------------------------------------------------------*/
