body{
    background-color: #F5F5F5;
}
h1 h2 h3 h4 h5 h6{
    font-family: 'Expletus Sans', cursive;
}
#heading{
    text-align: center;
    text-transform: uppercase;
}
#mainImg{
    height: 300px;
    width: 300px;
}
#mainImg:hover{
    opacity: 0.5;
}
.center{
    text-align: center;
}

.imgs{
    height: 300px;
    max-width: 50%;
}

.code{
    background-color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
}
.fa-user-circle{
    font-size: 20px;
}
.btn-group a{
    color: black;
    text-decoration: none;
}
footer{
    text-align: center;
}
